.body {
    font-family: 'Raleway', serif;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid black;
}

.container {
    display: grid;
    grid-template-columns: 440px 200px 400px;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    word-spacing: 5px;
    margin-right: 180px;
}

.header__menu {
   font-size: 18px;
   margin-top: 90px;
   margin-left: 50px;
}

.header__links-list {
    display: flex;
   justify-content: space-between;
   row-gap: 8px;
}

.header__links-list-item {
    list-style: circle;
    text-decoration: underline;
    word-spacing: 1px;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__logo-image {
    width: 226px;
    height: 108px;
    margin-top: 92px;
}

.address {
    font-size: 17px;
    line-height: 1.4;
    font-style: normal;
    word-spacing: 1px;
}

.header__address {
    margin-top: 90px;
    margin-left: 171px;
}

.cover {
    min-height: 757px;
    margin-top: 90px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 /.5);
}

.cover__title {
    font-size: 102px;
    text-transform: uppercase;
    display: grid;
    grid-template-rows: repeat(4, 20px);
    color: #fff;
    letter-spacing: 8px;
}

.aligned-text {
    margin-top: 160px;
    margin-left: 45px;
    margin-bottom: 100px;
}

.letter-spacing-extended {
    letter-spacing: 22px;
}

.aligned-text_center {
    align-self: center;
    margin-top: 775px;
    margin-left: 330px;
    margin-bottom: 140px;
    letter-spacing: 8px;
    padding-right: 30px;
}

.no-letter-spacing {
    letter-spacing: 0px;
}

.aligned-text_right {
    justify-self: end;
    margin-top: 370px;
    margin-right: 35px;
    letter-spacing: 20px;
}

.cover__description {
    display: grid;
    grid-template-columns: 4fr 256px;
    text-transform: uppercase;
    margin-top: 513px;
    margin-right: 60px;
}

.cover__description-text {
    display: inline-block;
    width: 637px;
    word-spacing: 18px;
    font-size: 22px;
    color: #fff;
    margin-top: 74px;
    margin-left: 80px;
}

.bet-button {
    cursor: pointer;
    font-family: 'Raleway', serif;
    display: block;
    width: 256px;
    padding: 13px;
    font-size: 22px;
    font-weight: 500;
    margin-top: 58px;
    margin-left: 10px;
    text-transform: uppercase;
    background: transparent;
    color: #fff;
    border: 1px solid rgba(255, 255, 255);
}

.lots {
    margin-top: 166px;
    margin-left: 30px;
}

.lots_grid {
    display: grid;
    grid-template-rows: 50px 600px 100px;
}

.lots__heading {
    font-size: 51px;
    margin-bottom: 26px;
    margin-left: 32px;
}

.lots__card-list {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    justify-content: space-around;
    gap: 10px;
}

.lots__card-list-item {
    list-style-type: none;
}

.card-link {
    display: block;
    width: 100%;
}

.card {
    width: 330px;
    min-height: 566px;
    gap: 25px;
    position: relative;
    background-size: cover;
    background-position: center;
}

.card_type_film {
    display: inline-block;
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    display: inline-block;
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    display: inline-block;
    background-image: url(../images/card-lot-03.jpg);
}

.grid_for_title_and_text_card_type_film {
    display: grid;
    grid-template-rows: 1fr 383px;
    align-items: end;
}

.grid_for_title_and_text_card_type_picture {
    display: grid;
    grid-template-rows: 1fr 360px;
    align-items: end;
}

.card_title {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 22px;
    margin-top: 53px;
    margin-left: 30px;
    width: 260px;
    font-weight: 600;
    color: #fff;
    word-spacing: 2px;
}

.card_text {
    display: inline-block;
    text-wrap: wrap;
    margin-left: 30px;
    width: 260px;
    font-size: 20px;
    color: #fff;
    line-height: 1.2;
    word-spacing: 1px;
}

.lots__look-more-link {
    display: inline-block;
    text-decoration: underline;
    line-height: 1.2;
    margin-top: 26px;
    margin-left: 34px;
    font-size: 20px;
}

.about {
    margin-top: 170px;
    margin-left: 70px;
}

.about__column {
    display: grid;
    grid-template-columns: 240px 693px;
    justify-items: center;
}

.about__logo {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__logo-image {
    width: 150px;
    height: 120px;
}

.about_title_and_text {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    row-gap: 41px;
}

.about__title {
    text-transform: uppercase;
    font-size: 40px;
    word-spacing: 2px;
    margin-top: 110px;
    margin-left: 140px;
}

.about__text {
    display: inline-block;
    width: 690px;
    overflow-wrap: break-word;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 120px;
    margin-left: 140px;
}

.footer_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    margin-top: 365px;
    padding-bottom: 87px;
}

.footer_address {
    margin-top: 5px;
    margin-left: 50px;
}

.footer__menu-list {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
}

.footer__menu-list-item {
    display: inline-block;
    font-size: 18px;
    margin-top: 3px;
}

.footer__menu-link {
    text-decoration: underline;
    padding-bottom: 0px;
}

.footer__social-list {
    display: flex;
    list-style-type: none;
    width: 240px;
    margin-top: 2px;
    margin-left: 75px;
}

.footer__social-icon {
    width: 50px;
}

.yt_icon {
    margin-left: 1px;
}

.vk_icon {
    margin-left: 45px;
}

.ps_icon {
    margin-left: 47px;
}