.body {
    font-family: 'Raleway', serif;
    box-sizing: border-box;
    width: 1110px;
    height: 3028px;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 392px 148px 241px;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    word-spacing: 5px;
}

.header__menu {
   position: relative;
   left: 116px;
   top: 1px;
   font-size: 18px;
}

.header__links-list {
    display: flex;
   justify-content: space-between;
   row-gap: 8px;
}

.header__links-list-item {
    list-style: circle;
    text-decoration: underline;
    position: relative;
    left: 1px;
    word-spacing: 1px;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__logo-image {
    width: 231px;
    height: 105px;
    justify-self: center;
}

.address {
    position: relative;
    left: 120px;
    bottom: 2px;
    font-size: 18px;
    line-height: 1.4;
    font-style: normal;
    word-spacing: 1px;
}

.telephon {
    position: relative;
    top: 1px;
}

.cover {
    width: 1110px;
    height: 757px;
    position: relative;
    top: 90px;
    left: 122px;
}

.cover_img {
    position: absolute;
    width: 1100px;
    height: 760px;
}

.cover_overlay {
    position: absolute;
    background-color: rgba(0 0 0 /.5);
    width: 1098px;
    height: 760px;
    top: 1px;
}

.cover__title {
    font-size: 100px;
    text-transform: uppercase;
    position: relative;
    top: 40%;
    left: 2em;
    color: #fff;
    letter-spacing: 8px;
    z-index: 1;
}

.first_part_of_title {
    display: inline-block;
    position: relative;
    right: 150px;
    bottom: 140px;
    letter-spacing: 14px;
}

.letter-spacing-extended_1 {
    letter-spacing: 28px;
}

.single_letter_from_title_1 {
    position: relative;
    right: 15px;
}

.second_part_of_title {
    display: inline-block;
    position: relative;
    right: 240px;
    bottom: 10px;
    letter-spacing: 14px;
}

.letter-spacing-extended_2 {
    position: relative;
    letter-spacing: 28px;
    right: 20px;
}

.single_letter_from_title_2 {
    position: relative;
    right: 40px;
}

.third_part_of_title {
    display: inline-block;
    position: relative;
    left: 434px;
    bottom: 10px;
    letter-spacing: 18px;
}

.letter-spacing-extended_3 {
    position: relative;
    right: 0px;
    letter-spacing: 28px;
}

.cover__description {
    display: grid;
    grid-template-columns: 4fr 256px;
    text-transform: uppercase;
    position: relative;
    top: 360px;
    z-index: 1;
}

.cover__description-text {
    display: inline-block;
    width: 637px;
    height: 28px;
    word-spacing: 18px;
    font-size: 22px;
    color: #fff;
    position: relative;
    top: 76px;
    left: 80px;
}

.bet-button {
    width: 256px;
    height: 51px;
    font-size: 22px;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
    background: transparent;
    color: #fff;
    border: 1px solid rgba(255, 255, 255);
    position: relative;
    right: 60px;
    top: 62px;
}

.lots_grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    position: relative;
    bottom: 246px;
    left: 145px;
}

.lots__heading {
    font-size: 50px;
    position: relative;
    top: 506px;
    left: 42px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.lots__card-list-item {
    list-style-type: none;
}

.card-link {
    display:block;
    width: 100%;
}

.card_overlay {
    position: absolute;
    top: 590px;
    width: 330px;
    height: 566px;
    background-color: rgba(0 0 0 /.5);
    z-index: -1;
}

.card_overlay_1 {
    left: 12px;
}

.card_overlay_2 {
    left: 366px;
}

.card_overlay_3 {
    right: 58px;
}

.card_title {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 22px;
    position: absolute;
    width: 280px;
    font-weight: 600;
    color: #fff;
    bottom: 990px;
    word-spacing: 2px;
}

.card_text {
    display: inline-block;
    text-wrap: wrap;
    position: absolute;
    width: 260px;
    font-size: 20px;
    color: #fff;
    line-height: 1.2;
    bottom: 605px;
    word-spacing: 1px;
}

.card_1_title {
    left: 40px;
}

.card_1_text {
    left: 40px;
}

.card_2_title {
    bottom: 965px;
    left: 36%;
}

.card_2_text {
    left: 400px;
    line-height: 1.2;
}

.card_3_title {
    width: 240px;
    bottom: 965px;
    right: 110px;
}

.card_3_text {
    right: 90px;
}

.card_img {
    width: 330px;
    height: 566px;
    position: relative;
    z-index: -1;
    top: 20px;
    left: 12px;
}

.card_img_1 {
    position: relative;
    left: 10px;
}

.lots__look-more-link {
    text-decoration: underline;
    position: relative;
    top: 44px;
    left: 42px;
    font-size: 20px;
}

.about {
    position: relative;
    bottom: 480px;
    left: 230px;
}

.about__column {
    display: grid;
    grid-template-columns: 240px 693px;
    justify-items: center;
}

.about__logo {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 100px;
    right: 40px;
}

.about__logo-image {
    width: 150px;
    height: 120px;
}

.about_title_and_text {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: start;
}

.about__title {
    text-transform: uppercase;
    font-size: 40px;
    word-spacing: 2px;
    position: relative;
    left: 35px;
    top: 16px;
}

.about__text {
    display: inline-block;
    width: 690px;
    height: 400px;
    overflow-wrap: break-word;
    position: relative;
    font-size: 20px;
    left: 36px;
}

.about__text_1 {
    bottom: 239px;
}

.about__text_2 {
    width: 690px;
    bottom: 495px;
    line-height: 1.2;
    font-size: 20px;
}

.footer_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    position: relative;
    bottom: 1028px;
    left: 118px;
}

.footer_address {
    position: relative;
    font-size: 18px;
    line-height: 1.4;
    font-style: normal;
    word-spacing: 0px;
    left: 58px;
}

.footer_telephon {
    position: relative;
    right: 2px;
}

.footer__menu-list {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
}

.footer__menu-list-item {
    display: inline-block;
    font-size: 18px;
    position: relative;
    top: 5px;
}

.footer__menu-link {
    text-decoration: underline;
}

.footer__social-list {
    display: flex;
    list-style-type: none;
    width: 240px;
    height: 40px;
    position: relative;
    top: 2px;
    left: 75px;
}

.footer__social-icon {
    width: 63%;
}

.vk_icon {
    position: relative;
    left: 16px;
}

.ps_icon {
    position: relative;
    left: 32px;
}